.boardlist {
    background: none;
    display: flex;
    padding: 20px;
    overflow: auto;
  }
.namelist{
    background: none;
    padding: 20px;
    overflow: auto;
}
.boards{
    margin-right: 1em;
}
.buttons{
    display: block;
    margin-left: auto;
    margin-right: auto
}