.mycard{
  margin: 10px 5% 10px 5%;
  box-shadow: 8px 8px 1px #190d5250;
}
.mycard .card-header{
  background-color: #c9c9c9be;
}
.card-title{
  text-shadow: 1px 1px 1px rgba(2, 2, 66, 0.514);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color:#0d3584;
}
.labels{
    display : inline-block;
}
.label{ 

  width:55px;
  height:15px;
  border-radius: 10%;
  border: 1px solid black;
  background:whitesmoke;
  box-shadow: 3px 3px 2px #37249250;
}
.red {
 background:red;
    
}
.blue {
  background:blue;
}

.editCardInput{
  border: 1px solid #505a5933;
  border-radius: 6px;
  background-color: white;
  padding-left: 3px;   
  text-shadow: 1px 1px 1px rgba(2, 2, 66, 0.514);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #0d3584;
  width:100%;
  resize: vertical;
}


.changeNameInput{
    border: 1px solid #505a5933;
    border-radius: 3px;
    background-color: rgba(235, 229, 229, 0.116);
    padding-left: 3px;
    text-shadow: 1px 1px 1px rgba(2, 2, 66, 0.514);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    color: #0d3584;
}
.deleteCard{
  border: none;
  color: red;
  cursor: pointer;
}

