.teams{
    float: left;
    width: 20‰;
}
.create{
    padding: 20px;
}
.buttons{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.namelist{
    background: none;
    padding: 20px;
    overflow: auto;
}